<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="receiptreprint.Properties.Settings.ConnectionString"
             connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password=;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=true;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
